.BlogHomeWrapper {
  width: 100%;
}
.BlogHomeContainer {
  max-width: 1180px;
  margin: 0 auto;
  padding: 64px 16px 64px 16px;
}
.BlogHomeTitle {
  width: 100%;
  text-align: center;
}
.BlogHomeTitle h2 {
  font-size: 2rem;
  font-weight: 800;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 680px;
  margin: 0 auto;
}
.BlogHomeTitle p {
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 1.0rem;
  padding-top: 8px;
  font-weight: 300;
  max-width: 680px;
  margin: 0 auto;
}
.BlogHomeContent {
  width: 100%;
  padding: 32px 0px 32px 0px;
}
.BlogHomeBoxes {
  width: 100%;
  display: flex;
  justify-content: center;
}
.BlogHomeCard {
  max-width: 300px;
  margin: 0px 8px;
}
.BlogHomeCard:hover {
  cursor: pointer;
}
.BlogHomeCardTitle h4 {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--text-color);
  padding: 8px 5px;
}
.BlogHomeCardDescription p {
  width: 100%;
  color: var(--color-text);
  padding: 0px 5px 8px 5px;
}
.BlogHomeAction {
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .BlogHomeBoxes {
    flex-direction: column;
    align-items: center;
  }
}