.Button {
  display: inline-block;
  width: auto;
  padding: 15px 35px;
  background: var(--gradient);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}