.Footer {
  width: 100%;
  padding-top: 32px;
  background: var(--bg-l);
}
.ContentFooter {
  max-width: 1180px;
  margin: 0 auto;
}
.CaseFooter {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Box {
  padding: 0px 30px 0px 30px;
}
.MiniAbout p {
  margin-top: 32px;
  max-width: 340px;
  line-height: 28px;
  font-size: 1.0rem;
}

.MiniContato h3 {
  color: var(--text-color);
  font-size: 1.50rem;
  font-weight: 700;
}
.MiniContato p {
  max-width: 340px;
  line-height: 28px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.MiniContato h4 {
  color: var(--text-color);
  font-size: 1.20rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.MiniContato ul {
  display: flex;
}
.MiniContato ul li{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.MiniContato ul li a {
  color: var(--text-color-l);
  font-size: 1.1rem;
}
.Anatel h3 {
  color: var(--text-color);
  font-size: 1.50rem;
  font-weight: 700;
  margin-bottom: 32px;
}
.Copy {
  width: 100%;
  background: var(--gradient);
  text-align: center;
  color: var(--text-color-l);
  margin-top: 32px;
  padding: 30px 0px;
}

@media (max-width: 768px) {
  .CaseFooter {
    flex-direction: column;
    align-items: center;
  }
  .MiniAbout p,
  .MiniContato p,
  .MiniContato h4,
  .MiniContato h3
  {
    text-align: center;
  }
  .MiniAbout p {
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .MiniContato p {
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .MiniContato ul {
    justify-content: center;
    margin-bottom: 32px;
  }
  .MiniContato ul li {
    margin: 0px 7.5px;
  }
  .ImgAnatel {
    text-align: center;
    display: block;
  }
  .ImgMiniAbout {
    text-align: center;
    display: block;
  }
}