
/* NavBar Estilos */

.Navbar {
  width: 100%;
}

/* NavBarInfo */

.NavbarInfo {
  width: 100%;
  background: var(--gradient);
}
.ContentNavbarInfo {
  max-width: 1180px;
  margin: 0 auto;
  padding: 8px 5px;
  display: flex;
  justify-content: space-between;
}
.SocialLinksInfo {
  width: auto;
}
.SocialLinksInfo ul {
  display: flex;
}
.SocialLinksInfo li {
  padding: 0px 10px 0px 0px;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.SocialLinksInfo a {
  padding-left: 5px;
  color: var(--text-color-l);
}
.LocationInfo {
  width: auto;
}
.LocationInfo {
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

/* NavLinks */
.NavLinks {
  max-width: 1180px;
  margin: 0 auto;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavLinksMenu {
  display: flex;
  align-items: center;
}
.NavLinksMenu ul {
  display: flex;
  font-size: 1.0rem;
  margin: 0px 30px 0px 0px;
}
.NavLinksMenu ul li a {
  padding: 5px 0px 5px 20px;
  color: #130CB7;
  font-weight: 600;
  text-transform: uppercase;
}
.NavLinksMenu ul li a:hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.MenuTogge {
  display: none;
}
.BoxToggle {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #130CB7;
  height: 100%;
  padding: 30px 40px;
  transition: all 3.0s;
}
.BoxToggle ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.BoxToggle ul li {
  padding-bottom: 16px;
}
.BoxToggle ul li a {
  color: var(--text-color-l);
  font-size: 1.3rem;
  font-weight: 600;
}
.BoxToggle ul li :hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ButtonToggle {
  display: flex;
  justify-content: flex-end;
}
.prev {
  display: none;
  transition: all 3.0s;
}
@media (max-width: 768px) {
  .NavbarInfo, .NavLinksMenu {
    display: none;
  }
  .MenuTogge {
    display: block;
    cursor: pointer;
    width: 50px;
  }
  .MenuTogge div {
    width: 100%;
    height: 5px;
    margin: 8px 0px;
    background: var(--gradient);
  }
}